.posts-wrapper
  .post
    .post-body
      .image-wrap
        = form_image_select(@post)
        = simple_form_for @post, html: { multipart: true } do |f|
          .row
            .col-md-12.text-center
              = f.error_notification
          .container-fluid
            .form-group.text-center
              %h4 Upload an image:
              = f.input :image, label: false, input_html: { onChange: 'loadFile(event)' }
            .form-group.text-center
              = f.input :caption, label: false, placeholder: 'Add your caption'
            .form-group.text-center
              = f.button :submit, class: 'btn-success btn-block'

        .container-fluid
          .form-group.text-center
            = form_tag(new_post_path, :method => "get", id: "seach-form", :multipart => true) do
              = text_field_tag :search, params[:search], placeholder: "Search for Images"
              / search area
          .form-group.text-center
            = submit_tag "Search", class: "btn-success btn-block"

          .form-group.text-center
            - if (@finalImgs != nil) then
              %table.table
                - @finalImgs.each do |x|
                  %tr
                    = image_tag x
            - if (@finalUrls != nil) then
              %table.table
                - @finalUrls.each do |x|
                  %tr
                    %td= x
